body {
  background-color: #f7f9fd;
  margin-top: 30px;
  margin-bottom: 30px;
}
.weather-app {
  background: linear-gradient(
    91.3deg,
    rgb(135, 174, 220) 1.5%,
    rgb(240, 240, 250) 100.3%
  );
  border: solid 1px #113f67;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 950;
  padding-left: 20px;
  padding-right: 25px;
}
