.footer {
  align-items: center;
  margin: 15px 0px;
}
.footer-link {
  color: var(--dark-color);
}
.react-logo {
  color: var(--dark-color);
  font-size: 39pt;
  text-align: center;
}
@media (max-width: 576px) {
  .react-logo-container {
    display: none;
  }
}
